{% extends 'workshop_app/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="text-center mb-5">
                <h1 class="h2">Change Your Password</h1>
            </div>
            <div class="card shadow">
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                Please correct the errors below.
                            </div>
                        {% endif %}

                        <div class="form-group mb-4">
                            <label for="{{ form.old_password.id_for_label }}" class="font-weight-medium mb-1">Old password</label>
                            {{ form.old_password }}
                        </div>
                        <div class="form-group mb-4">
                            <label for="{{ form.new_password1.id_for_label }}" class="font-weight-medium mb-1">New password</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="form-group mb-4">
                            <label for="{{ form.new_password2.id_for_label }}" class="font-weight-medium mb-1">New password confirmation</label>
                            {{ form.new_password2 }}
                        </div>

                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-primary btn-lg">Change my password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}